#idea
offlineAnalysisPrj/.idea/
offlineAnalysisPrj/*.iml
offlineAnalysisPrj/target/
offlineAnalysisPrj/*.log

sparkBook/.idea/
sparkBook/*.iml
sparkBook/target/

SparkBrowser/.idea/
SparkBrowser/*.iml
SparkBrowser/target/
